<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Registration Form</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<link href = "signup.css" type = "text/css" rel = "stylesheet" />
<h2>Sign Up</h2>
<form name = "form1" action="#" th:action="@{/login1}" th:object="${signupUser}" method="post" >
   <div class = "container">
      <div class="form_group">
         <label>User Name:</label>
         <input type="text" th:field="*{username}" name="username" value="" required/>

         <label>Password:</label>
         <input type="password" th:field="*{password}" name="pass" value="" required/>
      </div>

      <div class = "form_group">
         <label>First Name:</label>
         <input type = "text" th:field="*{firstname}" name = "firstname" value = "" required/>
      </div>

      <div class = "form_group">
         <label>Last Name:</label>
         <input type = "text" th:field="*{lastname}" name = "lastname" value = "" required/>
      </div>

      <div class = "form_group">
         <label>Cloud Name:</label>
         <input type = "text" th:field="*{cloudname}" name = "cloudname" value = "" required/>
      </div>

      <div class = "form_group">
         <input type = "submit" name="submit" value="submit"/>
      </div>
   </div>
</form>
</body>
</html>