<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
    <link href="dialog.css" rel="stylesheet"> <!-- Including CSS File Here-->
    <!-- Including CSS & jQuery Dialog UI Here-->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="dialog.js" type="text/javascript"></script>
</head>
<body>
<div class="container1">
    <div class="user_info">
        <h1>User Information</h1>
        <h2>Username:</h2>
    </div>
    <div style=" width:50%;">
        <table class="user_details">
            <tr>
                <td>Total Folders</td>
                <td>Total Folders</td>
            </tr>
            <tr>

                <td>Total Images</td>
                <td>Total Folders</td>
            </tr>
            <tr>
                <td>Total Size</td>
                <td>Total Folders</td>
            </tr>
            <tr>
                <td>Total Bandwidth</td>
                <td>Total Folders</td>
            </tr>
            <tr>
                <td>Total </td>
                <td>Total Folders</td>
            </tr>
        </table>
    </div>
</div>

<div class="container2">
    <div>
    <ul class="create">
        <li>
                <a id="create_folder" >Create Folder</a>
        </li>
    </ul>
    </div>
    <div class="container" style="display:none">
        <div id="dialog" title="Container Name">
            <form action="" method="post">
                <label>Title:</label>
                <input id="name" name="name" type="text">
                <input id="submit" type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div id="container_module">
        <ul id='ulObj'>
        <!--<li>1</li>-->
        </ul>
    </div>

    <div id="display_module" style="display: none">
        <div>
        <!--Bread crumb-->
        <p id="current_container"><a id="back_to_container" href="javascript: console.log('href fired');">Home Page</a> > </p>
        </div>
        <div>
        <!--Upload images & folder-->
            <div id="container">
                <div>
                <input type="file" id="file_input1" webkitdirectory directory />
                </div>
                <div>
                <input type="file" id="file_input2" />
                </div>
            </div>
        </div>
        <div>
        <!--Display images-->
            <div>
             <ul id='aaa'>
                <!--<li>1</li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>