<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Cloud IHMS - Main Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
</head>
<body>
<div class="container">
    <div class="page-header">
        <div style="margin: 0 auto; text-align: center">
            <h1>Welcome to CloudClan Image Management Platform as a Service Solution</h1>
            <h1><small>We provide image management with easy to use REST services and secure access to private containers and easy
            sharing with you loves ones.</small></h1>
        </div>
    </div>
    <div class="row" style="text-align: center; margin-top: 50px;">
            <div class="col-md-12">
                <a href="register.html">New User!!! Register here</a>
            </div>
            <br/>
            <br/>
            <div class="col-md-12">
                <p></p>
                <a href="home.html">Existing User!!!</a>
            </div>
    </div>
</div>
</body>
</html>

